<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='AddEmp.css')}}" />
	<title>Employee Attendance Information</title>
</head>
<body>
	<div class="navbar">
		<div class="navbar-left">
			<a href="/">
				<img src="{{ url_for('static', filename='img/home.png')}}"/>
			</a>
		</div>
		<div class="navbar-middle">
			<a href="/addemp/">
				<p>Add Employees</p>
			</a>
			<a href="/getemp/">
				<p>Get Employees</p>
			</a>
			<a href="/attendance/">
				<p>Attendance</p>
			</a>
			<a href="/payroll/">
				<p>Payroll Calculator</p>
			</a>
		</div>
		<div class="navbar-right"></div>
		{{ date.strftime("%A, %d %B, %Y at %X") }}
	</div>
</div>
		<div class="form-container form-container-attendance">
			<div class="form-bubble">
				<div class="form-bubble-container form-bubble-container-get">
					<p>Login Time</p>
					<p>{{LoginTime}}</p>
				</div>
				<div class="form-bubble-container form-bubble-container-get">
					<p>Checkout Time</p>
					<p>{{Checkout}}</p>
				</div>
				<div class="form-bubble-container form-bubble-container-get">
					<p>Total Working Hours</p>
					<p>{{TotalWorkingHours}}</p>
				</div>
			</div>
			<div class="button-container">
				<a href="/">
					<button type="submit" class="form-button">GO BACK</button>
				</a>
			</div>
			
		</div>
	</div>
</body>
</html>
