<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='AddEmp.css')}}" />
	<title>Employee Information</title>
</head>
<body>
	<div class="navbar">
		<div class="navbar-left">
			<a href="/">
				<img src="{{ url_for('static', filename='img/home.png')}}"/>
			</a>
		</div>
		<div class="navbar-middle">
			<a href="/addemp/">
				<p>Add Employees</p>
			</a>
			<a href="/getemp/">
				<p>Get Employees</p>
			</a>
			<a href="/attendance/">
				<p>Attendance</p>
			</a>
			<a href="/payroll/">
				<p>Payroll Calculator</p>
			</a>
		</div>
		<div class="navbar-right"></div>
		{{ date.strftime("%A, %d %B, %Y at %X") }}
	</div>
</div>
		<div class="form-container form-container-get-output">
			<div class="form-bubble">
				<div class="form-bubble-container form-bubble-container-get">
					<p> Employee ID </p>
					<p>{{ result[0]}}</p>
				</div>
				<div class="form-bubble-container form-bubble-container-get">
					<p>First Name</p>
					<p>{{ result[1]}}</p>
				</div>
				<div class="form-bubble-container form-bubble-container-get">
					<p>Last Name</p>
					<p>{{ result[2]}}</p>
				</div>
				<div class="form-bubble-container form-bubble-container-get">
					<p>Primary Skill </p>
					<p>{{ result[3] }}</p>
				</div>
				<div class="form-bubble-container form-bubble-container-get">
					<p>Location </p>
					<p>{{ result[4] }}</p>
				</div>
			</div>
			<div class="button-container">
				<a href="/">
					<button type="submit" class="form-button">GO BACK</button>
				</a>
			</div>
		</div>
	</div>
</body>
</html>
