<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='AddEmp.css')}}" />
	<title>Get Employee Information</title>
</head>
<body>
	<div class="navbar">
		<div class="navbar-left">
			<a href="/">
				<img src="{{ url_for('static', filename='img/home.png')}}"/>
			</a>
		</div>
		<div class="navbar-middle">
			<a href="/addemp/">
				<p>Add Employees</p>
			</a>
			<a href="/getemp/">
				<p>Get Employees</p>
			</a>
			<a href="/attendance/">
				<p>Attendance</p>
			</a>
			<a href="/payroll/">
				<p>Payroll Calculator</p>
			</a>
		</div>
		<div class="navbar-right"></div>
		{{ date.strftime("%A, %d %B, %Y at %X") }}
	</div>


	<div class="form-container form-container-get">
		<form action="/getemp/results" autocomplete="on" method="POST" class="form-bubble">
		<div class="form-bubble-container">
			<label>Employee ID:</label>
			<input type="number" name="emp_id" autofocus size="40">
		</div>
	
			<a href="/getemp/results">
				<button type="submit" class="form-button2">GET EMPLOYEE</button>
			</a>
		
		</form>
	
	</div>
</body>
</html>
