<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='AddEmp.css')}}" />
	<title>LKT Employee Management System</title>
</head>
<body>
	<div class="navbar">
		<div class="navbar-left">
			<a href="/">
				<img src="{{ url_for('static', filename='img/home.png')}}"/>
			</a>
		</div>
		<div class="navbar-middle">
			<a href="/addemp/">
				<p>Add Employees</p>
			</a>
			<a href="/getemp/">
				<p>Get Employees</p>
			</a>
			<a href="/attendance/">
				<p>Attendance</p>
			</a>
			<a href="/payroll/">
				<p>Payroll Calculator</p>
			</a>
		</div>
		<div class="navbar-right"></div>
	
	</div>
</div>
	<div class="form-container form-container-add">
		<div class="form-bubble body-container">
            <h1>Welcome to LKT Employee Management System</h1>
            {{ date.strftime("%A, %d %B, %Y at %X") }}
		</div>
		<div class="button-container2">
			<a href="/addemp/">
				<button class="form-button">Add Employee</button>
			</a>
        </div>
        <div class="button-container2">
            <a href="/getemp/">
                <button class="form-button">Get Employee</button>
            </a>
        </div>
        <div class="button-container2">
            <a href="/attendance/">
                <button class="form-button">Attendance</button>
            </a>
        </div>
        <div class="button-container2">
            <a href="/payroll/">
                <button class="form-button">Payroll Calculator</button>
            </a>
		</div>
	</div>
</body>
</html>